
snippet ff "Final field" b
${1:private} final ${2:String} ${3:`!p snip.rv = t[2].lower()`};
endsnippet

snippet /log(ger)?/ "Logger" br
private static final Logger LOG = LoggerFactory.getLogger(`!p snip.rv = snip.basename or "untitled"`.class);
endsnippet

# vim:ft=snippets:
